sudo: required
services:
  - docker

before_install:
  - docker build -t nf/docker-react -f DockerFile.dev .

script:
  - docker run -e CI=true nf/docker-react npm run test -- --coverage

language: generic
